.slider {
    background-color: rgba(0, 0, 0, 0.5);
}

.no-float {
    margin: 0;
}

.filters {
    background-color: rgba(0, 0, 0, 0.5);
    height: 850px;
}

.no-float:after {
    content: "";
    display: block;
    clear: both;    
}

.address {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    color: white;
    font-weight: 100;
    font-size: 14px;
}

.underlined {
    text-decoration: underline;
}

.heading-section {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 55px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: white;
}

.col-md-4 {
    width: 300px;
}

.item {
    border: 1px solid white;
    margin-bottom: 30px;
}

.item-img {
    position: relative;
    width: 100%;
    height: 178px;
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid white;
}

.item-img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.fullscreen-btn {
    background: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    background-image: url(images/icon\ \(8\).png);
    background-repeat: no-repeat;
    background-position: center;
}

.fullscreen-btn:hover {
    background-color: #2c71b8;
    background-image: url(images/icon\ \(6\).png);
}

.favourites-btn {
    background: none;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    background-image: url(images/icon\ \(5\).png);
    background-repeat: no-repeat;
    background-position: center;
}

.active-favourite-btn {
    background: none;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    background-image: url(images/icon\ \(7\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2c71b8;
}

.active-favourite-btn:focus {
    outline: none;
    background-color: #2c71b8;
}

.active-favourite-btn:hover {
    cursor: pointer;
}

.favourites-btn:hover {
    background-color: #2c71b8;
    background-image: url(images/icon\ \(7\).png);
}

.frst-diagonal {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom left, transparent 49.5%, #fff, transparent 50.5%);
    background-repeat: no-repeat;
}

.scnd-diagonal {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, transparent 49.5%, #fff, transparent 50.5%);
    background-repeat: no-repeat;
}

.description {
    padding: 15px;
    color: white;
}

.description h2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.description p {
    font-weight: 100;
    font-size: 21px;
    margin-bottom: 15px;
}

.description h3 {
    font-size: 21px;
    font-weight: 100;
    margin-bottom: 15px;
}

.description b {
    font-weight: 700;
}

.price {
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    padding-right: 27px;
    top: 10px;
}

.price > sup {
    position: absolute;
    top: 0px;
    font-size: 24px;
    padding-bottom: 24px;
}

.details-btn {
    display: block;
    background: none;
    background-color: #2c71b8;
    border: 1px solid white;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 21px;
    font-weight: 700;
    width: 210px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
}

.to-cart-btn {
    background: none;
    background-color: #2c71b8;
    display: block;
    border: 1px solid white;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 21px;
    font-weight: 700;
    width: 210px;
    height: 50px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    padding-right: 30px;
}

.cart-2 {
    position: absolute;
    background-image: url(images/icon\ \(2\).png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-position: center;
    margin-top: 15px;
    margin-left: 10px;
}

.details-btn:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

.to-cart-btn:hover {
    color:white;
    background-color: rgba(255, 255, 255, 0.2);
}

/* Filters formatting */
.filters {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    color: white;
}

.filter {
    margin-bottom: 50px;
}

.filter h2 {
    font-size: 21px;
    font-weight: bold;
}

[class*="-param"] {
    margin-top: 20px;
    font-size: 21px;
    font-weight: lighter;
}

.ram {
    margin-bottom: 0px;
}

.col-md-12 {
    width: 100%;
}

.more-options {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: lighter;
    text-align: center;
}

.submit-btn {
    display: block;
    background: none;
    background-color: #2c71b8;
    color: white;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid white;
    line-height: 48px;
    width: 210px;
    height: 50px;
    margin: 0 auto;
}

.submit-btn:hover {
    background-color: transparent;
}

label:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    cursor: pointer;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

input[type="checkbox"]:checked + label:before {
    background-color: white;
}

input[type="checkbox"] {
    display: none;
}

.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal-block {
    width: 300px;
    margin: 80px auto;
    height: 200px;
    border: 1px solid grey;
    background-color: #fff;
    padding: 15px;
}

.form-fields {
    margin: 10px 0;
}

.form-fields input {
    width: 100%;
    height: 30px;
    padding: 5px;
}

.modal-form {
    position: relative;
    padding-top: 20px;
}

.btn-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.call-btn {
    background: none;
    border: 1px solid grey;
}

.product-quantity {
    margin-top: 30px;
    text-align: center;
    line-height: 20px;
}

.product-quantity input {
    text-align: center;
    width: 25%;
    line-height: 20px;
}

.product-quantity button {
    background-color: #2c71b8;
    border: 1px solid white;
    color: white;
    height: 24px;
    width: 24px;
    font-weight: bold;
}

.product-quantity button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.product-quantity .button-disabled {
    background-color: rgba(255, 0, 0, 0.3);
}

.product-quantity .button-disabled:hover {
    background-color: rgba(255, 0, 0, 0.3);
    color: red;
    border: 1px solid red;
    cursor: not-allowed;
}

.slider-block {
    padding: 150px 0;
    text-align: center;
    color: white;
    font-size: 50px;
}

.slick-dots li button:before {
    font-size: 20px;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px;
}