body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}

* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: -15px;
    padding-right: -15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

.col-md-3 {
    width: 25%;
}

.col-md-6 {
    width: 50%;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

